<div class="content">
    <h2>About me</h2>
    <p>
        Desenvolvedor Fullstack buscando minha primeira oportunidade no mercado.
        Formado no curso Técnico em Informatica pelo IFPA e cursando o 8º período do
        curso de Engenharia de Computação pela Universidade Federal do Pará.
        Atualmente tenho focado meus estudo nos frameworks <strong>Spring</strong> e
        <strong>Angular</strong> e seus ecossistemas. Possuo habilidades em
        <strong>Java</strong>, <strong>SQL</strong> <strong>JPA</strong>,
        <strong>Git</strong>, <strong>Hibernate</strong>,
        <strong>Api Rest</strong> bem como <strong>Typescript</strong>, <strong>JavaScript</strong>,
        <strong>Observables</strong>, <strong>RxJS</strong> e
        <strong>ReactiveForms</strong>.
    </p>
</div>
