<div class="content">
  <h2>Projetos</h2>
  <div class="box-cards">
    <card-project
      imgPath="/assets/img/wumpus.jpeg"
      githubLink="https://github.com/danison00/WumpusWorld"
    >
      <h3>Mundo de Wumpus</h3>
      <p>
        Algoritmo genético de aprendizagem de máquina desenvolvido para a
        disciplina de Inteligência Computacional inspirado na Teoria de Evolução
        para solucionadar o jogo lógico Mundo de Wumpus.
      </p>
    </card-project>
    <card-project
      imgPath="/assets/img/turing-bank.png"
      githubLink="https://github.com/danison00/turing-bank"
    >
      <h3>Turing Bank</h3>
      <p>
        O objetivo deste projeto foi desenvolver um banco digital com a criação
        de conta e uso das funcionalidades de forma simplificada. O backend foi
        implementado usando a linguagem Java e Spring Framework e o frontend
        usando Angular Framework.
      </p>
    </card-project>
    <card-project imgPath="/assets/img/adopet.png">
      <h3>Adopet</h3>
      <p>
        Este projeto consiste em um sistema para doação de animais que conecta
        pessoas que querem doar à pessoas que querem adotar.
      </p>
    </card-project>

  </div>
</div>
