<div class="content" id="projetos">
  <h2>Projetos</h2>
  <div class="box-cards">
    <card-project
      imgPath="/assets/img/wumpus.jpeg"
      link="https://github.com/danison00/WumpusWorld"
    >
      <h3>Mundo de Wumpus</h3>
      <p>
        Algoritmo genético de aprendizagem de máquina desenvolvido para a
        disciplina de Inteligência Computacional. Inspirado na Teoria de Evolução
        é capaz de solucionadar o jogo lógico Mundo de Wumpus.
      </p>
    </card-project>
    <card-project
      imgPath="/assets/img/turing-bank.png"
      link="https://github.com/danison00/turing-bank"
    >
      <h3>Turing Bank</h3>
      <p>
        O objetivo foi desenvolver um banco digital com as funcionalidades de
        forma simplificada. O backend foi implementado em Java com Spring e o
        frontend usando Angular.
      </p>
    </card-project>
    <card-project
      imgPath="/assets/img/adopet.png"
      link="https://github.com/danison00/adopet"
    >
      <h3>Adopet (em desenvolvimento)</h3>
      <p>
        Este projeto consiste em um sistema para adoção de animais, onde ele conecta
        pessoas que querem doar à pessoas que querem adotar.
      </p>
    </card-project>
    <card-project 
    imgPath="/assets/img/studentDwellMate.jpeg"
    link="https://github.com/danison00/StudentDwellMate"

    >
      <h3>Student Dwell Mate (em desenvolvimento)</h3>
      <p>
        Sistema para facilitar que estudantes com a necessidade de irem estudar
        em outras cidades possam encontrar pessoas para dividir aluguel
      </p>
    </card-project>
  </div>
</div>
