h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    color: var(--gray-4);
  }
.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .box-cards{
        gap: 2rem;
    }
}