<div class="content">
  <h2>Projetos</h2>
  <div class="box-cards">
    <card-project
      imgPath="/assets/img/wumpus.jpeg"
      githubLink="https://github.com/danison00/WumpusWorld"
    >
      <h3>Mundo de Wumpus</h3>
      <p>
        Algoritmo genético de aprendizagem de máquina desenvolvido para a
        disciplina de Inteligência Computacional inspirado na Teoria de Evolução
        para solucionadar o jogo lógico Mundo de Wumpus.
      </p>
    </card-project>
    <card-project
      imgPath="/assets/img/turing-bank.png"
      githubLink="https://github.com/danison00/turing-bank"
    >
      <h3>Turing Bank</h3>
      <p>
        O objetivo foi desenvolver um banco digital com as funcionalidades de forma simplificada. O backend foi
        implementado em Java com Spring e o frontend
        usando Angular.
      </p>
    </card-project>
    <card-project imgPath="/assets/img/adopet.png">
      <h3>Adopet (desenvolvimento)</h3>
      <p>
        Este projeto consiste em um sistema para doação de animais que conecta
        pessoas que querem doar à pessoas que querem adotar.
      </p>
    </card-project>
    <card-project imgPath="/assets/img/studentDwellMate.jpeg">
      <h3>StudentDwellMate
        (desenvolvimento)</h3>
      <p>
        Sistema para para facilitar para que
        estudantes que precisam ir estudar para outras cidades possam encontrar
        pessoas para dividir aluguel
        </p>
    </card-project>
  </div>
</div>
