<div class="content">
  <div class="text">
    <div>Olá, eu sou</div>

    <div class="name">
      <span>< Dânison</span>
      <span>  dos Santos/></span>
    </div>
    <div>Fullstack Developer</div>
    <div class="box-icons">
      <img class="logo-ng" src="/assets/icons/logo_angular.png" alt="" />

      <img class="logo-java" src="/assets/icons/java_logo.png" alt="" />
      <img class="logo-spring" src="/assets/icons/spring_logo.png" alt="" />

    </div>
  </div>
  <div class="me-img">
    <img src="/assets/img/me.png" alt="" srcset="">
  </div>
</div>
