<div class="content" id="stack">
  <h2 class="hidden left">Minha Stack</h2>
  <div class="icons">
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/java.svg" alt="" srcset="" />
      <span>Java</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/spring.png" class="spring" alt="" srcset="" />
      <span>Spring</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/spring-boot.png" alt="" srcset="" />
      <span>Spring-boot</span>
    </div>
    <div class="card-icon hidden rigth">
      <img
        src="/assets/icons/hibernate.png"
        class="hibernate"
        alt=""
        srcset=""
      />
      <span>Hibernate</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/angular.svg" alt="" srcset="" />
      <span>Angular</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/typescript.svg" alt="" srcset="" />
      <span>Typescript</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/html-icon.svg" alt="" srcset="" />
      <span>HTML5</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/css-icon.svg" alt="" srcset="" />
      <span>CSS</span>
    </div>
    <div class="card-icon hidden rigth">
      <img src="/assets/icons/saas.svg" alt="" srcset="" />
      <span>Saas</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/docker.svg" alt="" srcset="" />
      <span>Docker</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/aws.svg" alt="" srcset="" />
      <span>AWS</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/my_sql.svg" alt="" srcset="" />
      <span>MySql</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/postgres.svg" alt="" srcset="" />
      <span>Postgresql</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/postman.svg" alt="" srcset="" />
      <span>Postman</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/git.svg" alt="" srcset="" />
      <span>Git</span>
    </div>

    <div class="card-icon hidden rigth">
      <img src="/assets/icons/git-hub.svg" alt="" srcset="" />
      <span>GitHub</span>
    </div>
  </div>
</div>
